@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
:root {
  --numDays: 5;
  --numHours: 25;
  --timeHeight: 60px;
  --calBgColor: ;
  --eventBorderColor: #C1E9F2;
  --eventColor1: #fafafa;
  --eventColor2: #fafafa;
  --eventColor3: #fafafa;
  --eventColor4: #fafafa;
}
  
  i {
    font-size: 50px ; 
    color: #646AD9;
  }
  .button-19logo {
     background-color: #56baed
  }
  .column {
    color: #646AD9;
    
  }

  .conteneur-calendrier {
    display: flex;
    flex-direction: column;
  }
  
  .calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    flex-grow: 1;
  }
  
  .timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  }
  
  .days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  
  
  .events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
  }
  
  .start-00 {
    grid-row-start: 00;
  }
  .start-01 {
    grid-row-start: 01;
  }
  
  .start-02 {
    grid-row-start: 02;
  }
  .start-03 {
    grid-row-start: 03;
  }
  
  .start-04 {
    grid-row-start: 04;
  }
  
  .start-05 {
    grid-row-start: 05;
  }
  
  .start-06 {
    grid-row-start: 06;
  }
  
  .start-07 {
    grid-row-start: 07;
  }
  .start-08 {
    grid-row-start: 08;
  }
  
  .start-09 {
    grid-row-start: 09;
  }
  .start-10 {
    grid-row-start: 10;
  }
  
  .start-11 {
    grid-row-start: 11;
  }
  
  .start-12 {
    grid-row-start: 12;
  }
  
  .start-13 {
    grid-row-start: 13;
  }
  
  .start-14 {
    grid-row-start: 14;
  }
  
  .start-15 {
    grid-row-start: 15;
  }
  .start-16 {
    grid-row-start: 16;
  }
  
  .start-17 {
    grid-row-start: 17;
  }
  .start-18 {
    grid-row-start: 18;
  }
  
  .start-19 {
    grid-row-start: 19;
  }
  .start-20 {
    grid-row-start: 20;
  }
  
  .start-21 {
    grid-row-start: 21;
  }
  
  .start-22 {
    grid-row-start: 22;
  }
  
  .start-23 {
    grid-row-start: 23;
  }
  
  .start-24 {
    grid-row-start: 24;
  }
  .end-00{
    grid-row-end: 00;
  }
  .end-01 {
    grid-row-end: 01;
  }
  
  .end-02 {
    grid-row-end: 02;
  }
  
  .end-03 {
    grid-row-end: 03;
  }
  
  .end-04 {
    grid-row-end: 4;
  }
  .end-05 {
    grid-row-end: 05;
  }
  
  .end-06 {
    grid-row-end: 06;
  }
  
  .end-07 {
    grid-row-end: 07;
  }
  
  .end-08 {
    grid-row-end: 08;
  }
  .end-09 {
    grid-row-end: 09;
  }
  
  .end-10 {
    grid-row-end: 10;
  }
  .end-11 {
    grid-row-end: 11;
  }
  
  .end-12 {
    grid-row-end: 12;
  }
  
  .end-13 {
    grid-row-end: 13;
  }
  
  .end-14 {
    grid-row-end: 14;
  }
  .end-15 {
    grid-row-end: 15;
  }
  .end-16 {
    grid-row-end: 16;
  }
  
  .end-17 {
    grid-row-end: 17;
  }
  .end-18 {
    grid-row-end: 18;
  }
  
  .end-19 {
    grid-row-end: 19;
  }
  
  .end-20 {
    grid-row-end: 20;
  }
  
  .end-21{
    grid-row-end: 21;
  }
  .end-22 {
    grid-row-end: 22;
  }
  
  .end-23 {
    grid-row-end: 23;
  }
  
  .end-24{
    grid-row-end: 24;
  }
  .end-25 {
    grid-row-end: 25;
  }
  .end-26 {
    grid-row-end: 26;
  }
  

  
  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: #fafafa;
  }
  
  .space,
  .date {
    height: 60px;
  }
    body {
    font-family: system-ui, sans-serif;
    margin-top: 5%;
  }

  
  .corp-fi {
    background: var(--eventColor1);
  }
  
  .ent-law {
    background: var(--eventColor2);
  }
  
  .writing {
    background: var(--eventColor3);
  }
  
  .securities {
    background: var(--eventColor4);
  }
  
  .date {
    display: flex;
    gap: 1em;
    font-size : 25px;
  }
  
  .date-num {
    
    font-weight: 600;
    display: block;
  }
  
  .date-day {
    display: block;
    
    font-weight: 100;
  }
  .button-19 {
    appearance: button;
    background-color: #646AD9;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: din-round,sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
    margin-top:0%;
    margin: 10px;
    font-size: 16px;
  }
  
  .conteneur-boutons {
    
    
    justify-content: space-between;
    display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100px
  }



  .button-19:after {
    background-clip: padding-box;
    background-color: #646AD9;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #56baed; /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte de l'en-tête */
    padding: 10px 0; /* Padding pour l'en-tête */
    z-index: 1000; /* S'assurer que l'en-tête reste au-dessus des autres éléments */
  }
  
  
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

header {
    background-color:#56baed;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    display:block;
    margin-top: 5% 0;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color:#56baed;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.button-19:hover {
    background-color: #000000;
}

 
* {
  box-sizing: border-box;
}

/* Créer quatre colonnes égales qui flottent à côté de l'autre */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Effacer les flottants après les colonnes */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style des blocs d'événements */
.event {
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  margin: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

/* Style des titres d'événements */
.event h3 {
  color: #333;
  font-size: 18px;
}

/* Style des dates et des horaires d'événements */
.event p {
  color: #666;
  font-size: 14px;
}
form {
  margin-left: 0%;
  width: 20%;
  display: flex;
  flex-direction: column;
  
}


